/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');

:root {
    --bg-color: #101820FF;
    --text-color: #F2AA4CFF;
    --font1: #CCD6F6;
    --font2: #d1d1d1;
    --titlefont: 'Shadows Into Light', cursive;
}


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--bg-color);
    font-family: 'Khula', sans-serif;

}
/* nav start here */
.Nav-bar .logo{
    /* margin: 0.8rem; */
    font-size: 25px;
    cursor: pointer;
}

.Nav-bar .logo span{
    font-family: 'Shadows Into Light', cursive;
    color: var(--text-color);
}

.Nav-bar .logo span:hover{
    color: #fff;
}

.Nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: fixed;
    background-color:var(--bg-color);
    left: 0%;
    padding: 0px 5%;
}
.fa-bars ,.fa-times{
    color: var(--text-color)
}

.Nav-bar .mainMenu {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px; 
}

.Nav-bar .mainMenu li{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Nav-bar .mainMenu li a {
    display: inline-block;
    padding: 5px 15px;
    margin: 0px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    border: 2px solid var(--bg-color);
}
.Nav-bar .mainMenu li a:hover {
    border: 2px dashed var(--text-color);
    color:  #fff;
}



.Nav-bar .openMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.Nav-bar .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
    
}


.fa-facebook{ color: var(--text-color)}
.fa-twitter{ color: var(--text-color)}
.fa-instagram{ color: var(--text-color)}
.fa-github{ color: var(--text-color)}
.fa-linkedin{ color: var(--text-color)}
.fa-facebook:hover {color: #fff ;}
.fa-twitter:hover {color:  #fff ;}
.fa-instagram:hover {color: #fff ;}
.fa-github:hover {color:  #fff ;}
.fa-linkedin:hover {color: #fff ;}

/* Nav ends here */

/* main section */
.main-sections #basic-info {
    height: 100vh;
}
.main-sections{
    margin-left: 17%;
}


/* Email section */
.email-section {
    height:100vh;
    position: fixed;
    margin-left: 84%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.email-section span {
    transform: rotate(90deg);
    color: var(--text-color);
    font-size: 25px;
    word-spacing: 1rem;
    font-family: 'Shadows Into Light', cursive;
}

.email-section span:hover{
    color: #fff;
}

/* social media section */
.media-icons{
    position: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.media-icons i {
    font-size: 25px;
    margin-bottom: 25px;
    border: 2px dashed var(--text-color);
    padding: 10px;
}

.media-icons i:hover {
    padding: 10px;
    border: 2px dashed #fff;
}

/* basic info */
.main-sections .basic-info{
    display: flex;
    flex-direction: column ;
    padding: 0px 10rem;
}

.basic-info h1 {
    font-family: var(--titlefont);
    color: #fff;
}

.basic-info h1:hover {
   color: var(--text-color)
}

.basic-info span,.basic-info h2 {
    color: var(--font2);
}
.basic-info p {
    color: var(--font1);
}
.basic-info .input a {
    padding : 5px 15px;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 1.5;
    background-color: var(--text-color);
    width: 150px;
    text-decoration: none;
    color: black;
}
.basic-info .input a:hover{
    background-color: #fff;
}

/* about section */
#about-section{
    height: 100vh;
}
.about-section{
  margin: auto;
}

.about-section .about-info span{
    font-family: var(--titlefont);
    color: var(--text-color);
    font-size: 1.2rem;
    
}
.about-section .about-info .s-title {
    font-size: 3rem;
    font-family: var(--titlefont);
    color: var(--text-color);
    margin-left:5%;
}

.about-section p, .about-section ul{
    padding: 0% 10%;
    color: var(--font1);
}

.about-section .s-tools {
    display: flex;
    justify-content: center;
}

.about-section .s-tools ul {
    list-style: none;
}

.about-section .s-tools ul li {
    font-size: 1.3rem;
}

/* about section image */

.about-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-image .abdur-rehman-image {
    width: 300px;
    position: absolute;
    height: 300px;
    border-radius: 10px;
    transition: 0.5 ease;
    backface-visibility: hidden;
    /* margin-top: 50px; */
    background-color: var(--text-color);
}

 .about-image .abdur-rehman-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0.6; 
  
} 

.about-image .abdur-rehman-image img:hover{
    opacity: 1;
    transition: 0.3s ease-in-out;
}
.image-border{
    width: 300px;
    height: 300px;
    border: 3px solid var(--text-color);
    border-radius: 10px;
    margin: 20px 0px 0px 30px;
}
.about-image .abdur-rehman-image:hover ~.image-border {
    margin: 0px 0px 0px 0px;
    transition: 0.3s ease-in-out;
 }


/* _________________________________________________________________________________________
 */
/* Media Qurries section */

/* Navbar */
@media(max-width: 800px){
    .Nav-bar .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--bg-color);
        transition: top 1s ease;
        display: none;
    }
    .Nav-bar .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    .Nav-bar .openMenu {
        display: block;
    }
    .Nav-bar .mainMenu li a:hover {
        background: none;
        color: #fff;
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
    /* email sections */
    .email-section, .media-icons{
        display: none;
    }
    
    .main-sections {
        width: 100%;
        margin-left:0;  
    }
}

@media (max-width: 768px){
    
    
    .main-sections .basic-info{
        padding: 0px 7rem;
    }
}

@media (max-width: 450px){
    
    
    .main-sections .basic-info{
        padding: 0px 5rem;
    }
    .about-section .s-tools ul li {
        font-size: 1rem;
    }
}

@media (max-width: 400px){
    .main-sections .basic-info{
        padding: 0px 3rem;
    }
    .about-section .s-tools ul li {
        font-size: 1rem;
    }
}

@media (max-width: 328px){
    .about-section .s-tools ul li {
        font-size: 0.8rem;
    }
}







