/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');

:root {
    --bg-color: #101820FF;
    --text-color: #F2AA4CFF;
    --font1: #CCD6F6;
    --font2: #d1d1d1;
    --titlefont: 'Shadows Into Light', cursive;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--bg-color);
    font-family: 'Khula', sans-serif;

}
/* nav start here */
.Nav-bar .logo{
    /* margin: 0.8rem; */
    font-size: 25px;
    cursor: pointer;
}

.Nav-bar .logo span{
    font-family: 'Shadows Into Light', cursive;
    color: var(--text-color);
}

.Nav-bar .logo span:hover{
    color: #fff;
}

.Nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: fixed;
    background-color:var(--bg-color);
    left: 0%;
    padding: 0px 5%;
}
.fa-bars ,.fa-times{
    color: var(--text-color)
}

.Nav-bar .mainMenu {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px; 
}

.Nav-bar .mainMenu li{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Nav-bar .mainMenu li a {
    display: inline-block;
    padding: 5px 15px;
    margin: 0px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    border: 2px solid var(--bg-color);
}
.Nav-bar .mainMenu li a:hover {
    border: 2px dashed var(--text-color);
    color:  #fff;
}



.Nav-bar .openMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.Nav-bar .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
    
}


.fa-facebook{ color: var(--text-color)}
.fa-twitter{ color: var(--text-color)}
.fa-instagram{ color: var(--text-color)}
.fa-github{ color: var(--text-color)}
.fa-linkedin{ color: var(--text-color)}
.fa-facebook:hover {color: #fff ;}
.fa-twitter:hover {color:  #fff ;}
.fa-instagram:hover {color: #fff ;}
.fa-github:hover {color:  #fff ;}
.fa-linkedin:hover {color: #fff ;}

/* Nav ends here */

/* main section */
.main-sections #basic-info {
    height: 100vh;
}
.main-sections{
    margin-left: 17%;
}


/* Email section */
.email-section {
    height:100vh;
    position: fixed;
    margin-left: 84%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.email-section span {
    transform: rotate(90deg);
    color: var(--text-color);
    font-size: 25px;
    word-spacing: 1rem;
    font-family: 'Shadows Into Light', cursive;
}

.email-section span:hover{
    color: #fff;
}

/* social media section */
.media-icons{
    position: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.media-icons i {
    font-size: 25px;
    margin-bottom: 25px;
    border: 2px dashed var(--text-color);
    padding: 10px;
}

.media-icons i:hover {
    padding: 10px;
    border: 2px dashed #fff;
}

/* basic info */
.main-sections .basic-info{
    display: flex;
    flex-direction: column ;

}

.basic-info h1 {
    font-family: var(--titlefont);
    color: #fff;
    font-size:6rem;
}

.basic-info h1:hover {
   color: var(--text-color);
}

.basic-info span,.basic-info h2 {
    color: var(--font2);
}
.basic-info p {
    color: var(--font1);
}
.basic-info .input a {
    padding : 5px 15px;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--text-color);
    width: 150px;
    text-decoration: none;
    color: black;
}
.basic-info .input a:hover{
    background-color: #fff;
}

/* about section */
#about-section{
    display: flex;
    justify-content: space-between;
}
.about-section{
    width:60%;
}


.about-section .about-info span{
    font-family: var(--titlefont);
    color: var(--text-color);
    font-size: 1.2rem;
    
}
.about-section .about-info .s-title {
    font-size: 3rem;
    font-family: var(--titlefont);
    color: var(--text-color);

}

.about-section p, .about-section ul{
    color: var(--font1);
}

.about-section .s-tools {
    display: flex;
    justify-content: start;
}

.about-section .s-tools ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.about-section .s-tools ul li {
    font-size: 1.5rem;
}

/* about section image */

.about-image{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

 
}
.about-image .abdur-rehman-image {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    transition: 0.5 ease;
    /* backface-visibility: hidden; */
    background-color: var(--text-color);
}

 .about-image .abdur-rehman-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0.6; 
} 

.about-image .abdur-rehman-image img:hover{
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.about-image .abdur-rehman-image:hover ~.image-border {
    margin: 0px 0px 0px 0px;
    transition: 0.3s ease-in-out;
 }
/* experience new code */
.experience-section{
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
}
 .experience-section .e-title{
    font-size: 2.5rem;
    font-family: var(--titlefont);
    color: var(--text-color);
}
/* Project Built */
.Projects-built{
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.Projects-built .Pbuilt-section{
    font-size: 2.5rem;
    font-family: var(--titlefont);
    color: var(--text-color)
}
/* project section */
.Projects{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .Projects-section .p-title{
    font-size: 2.5rem;
    font-family: var(--titlefont);
    color: var(--text-color);
}

.project-tile{
    width: 300px;
    height: 300px;
    /* background-color: rgb(39, 48, 56); */
    background-color: var(--text-color);
    margin: 10px 10px;
    border-radius: 5px;
    opacity: 0.5;
}
.project-tile:hover{
    background-color: rgb(39, 48, 56);
    opacity: 1;
    cursor: pointer;
}
.project-tile h2{
    color:#fff;
    font-weight: 600;
}
.project-tile p{
    color:var(--font1);
    font-weight: 600;
    margin-top: 20px;
}
.project-tile ul {
    list-style: none;
    display: flex;
    color:rgba(111, 115, 119, 0.7);
    font-weight: 600;
}
.visit-link{
    background-color: rgba(111, 115, 119, 0.7);;
    height: 50px;
    width: 70px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;;
}

.visit-link:hover{
    background-color:var(--text-color);
}

.proj-image{
    background-color: var(--text-color);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.979) 0px 2px 8px 0px;

}
.proj-image:hover{
    background-color: transparent;
}
.proj-image img{
    
    opacity: 0.7;
}
.proj-image img:hover{
    opacity: 1;
}
.proj-content{
    display: flex;
    align-items: center;
    padding: 20px 30px;
    color: #fff;
    /* background-color: red; */
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.979) 0px 2px 8px 0px;
    /* box-shadow: rgb(255, 255, 255) 0px 7px 29px 0px; */
 
}
/* old experience tabs */
/* .tabs{

    display: flex;
    justify-content: center;
    align-items: center;
}

.experience {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.experience ul{
    display: flex;
    list-style: none;
    border-bottom: 2px solid white;
}

.experience ul li{
    margin: -1px 20px;
}

.experience-section .e-title{
    font-size: 2.5rem;
    font-family: var(--titlefont);
    color: var(--text-color);
    margin-left:5%;
}

.experience ul li button {
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    border-bottom: transparent;
    background-color: var(--bg-color);
    color: var(--font1)
}

.experience ul li button:focus {
    border: 2px solid white;
    background-color: var(--font1);
    color: var(--bg-color);
    padding: 10px 20px;
    border-radius: 5px;
    border-bottom: transparent;
}
.experience ul li .active {
    background-color: var(--font1);
    color: var(--bg-color);
}

.tab-content div {
    color: var(--text-color);
}

.table{
    color: white;
    margin-top: 3rem;
}

.table thead tr{ 
    color: var(--text-color)
}
/* OLD EXPERIENCE TAB CSS */
/* skilss */
/* .skills{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skill-icon-bg{
  
    height: 250px;
    width: 250px;
    margin: 10px;
}

.skill-icon-bg .skill-icon {
    background-color: var(--font2);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.skill-icon-bg .skill-icon i {
    font-size: 5rem;
}
.skill-icon-bg  span {
    font-size: 2.5rem;
    font-weight: 600;
} */

/* _________________________________________________________________________________________
 */
/* Media Qurries section */
@media (max-width:1100px)
{
    .about-image{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: start;
        margin-top: 50px;
     
    }
    .about-image .abdur-rehman-image {
        width: 250px;
        height: 250px;
    }
    .image-border{
        width: 250px;
        height: 250px;
    }
    
}

@media(max-width: 800px){
    /* Navbar */
    .Nav-bar .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 999999999999999999999999999999999999999999999;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--bg-color);
        transition: top 1s ease;
        display: none;
    }
    .Nav-bar .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    .Nav-bar .openMenu {
        display: block;
    }
    .Nav-bar .mainMenu li a:hover {
        background: none;
        color: #fff;
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
    /* email sections */
    .email-section, .media-icons{
        display: none;
    }
    
    .main-sections {
        width: 100%;
        margin-left:0;  
    }

    /* about section */
    .about-image .abdur-rehman-image {
        width: 350px;
        height: 350px;
    }
    #about-section{
        margin: 20px;
    }
    .image-border{
        width: 350px;
        height: 350px;
    }
    .about-image{
        width: 100%
    }
    .about-section{

        width:100%;
    }
}

@media (max-width: 768px){
    
    
    .main-sections .basic-info{
        padding: 0px 7rem;
    }
}
@media (max-width: 600px){
    
    .basic-info h1 {
        font-size:4rem;
    }
}

@media (max-width: 450px){
    
    
    .main-sections .basic-info{
        padding: 0px 5rem;
    }
    .about-section .s-tools ul li {
        font-size: 1rem;
    }
}

@media (max-width: 400px){
    .main-sections .basic-info{
        padding: 0px 3rem;
    }
    .about-section .s-tools ul li {
        font-size: 1rem;
    }
}

@media (max-width: 328px){
    .about-section .s-tools ul li {
        font-size: 0.8rem;
    }
}







