/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');

:root {
    --bg-color: #101820FF;
    --text-color: #F2AA4CFF;
}


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Khula', sans-serif;;
}
body {
    background-color: var(--bg-color);
}
/* nav start here */
.Nav-bar .logo{
    /* margin: 0.8rem; */
    font-size: 25px;
    cursor: pointer;
}

.Nav-bar .logo span{
    font-family: 'Shadows Into Light', cursive;
    color: var(--text-color);
}

.Nav-bar .logo span:hover{
    color: #fff;
}

.Nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.fa-bars ,.fa-times{
    color: var(--text-color)
}

.Nav-bar .mainMenu {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px; 
}

.Nav-bar .mainMenu li{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Nav-bar .mainMenu li a {
    display: inline-block;
    padding: 5px 15px;
    margin: 0px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    border: 2px solid var(--bg-color);
}
.Nav-bar .mainMenu li a:hover {
    border: 2px dashed var(--text-color);
    color: #fff;
}



.Nav-bar .openMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.Nav-bar .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
    
}


.fa-facebook{ color: var(--text-color)}
.fa-twitter{ color: var(--text-color)}
.fa-instagram{ color: var(--text-color)}
.fa-github{ color: var(--text-color)}
.fa-linkedin{ color: var(--text-color)}
.fa-facebook:hover {color: #fff ;}
.fa-twitter:hover {color:  #fff ;}
.fa-instagram:hover {color: #fff ;}
.fa-github:hover {color:  #fff ;}
.fa-linkedin:hover {color: #fff ;}

/* Nav ends here */

/* Email section */
.email-section {
    height:100vh;
    position: fixed;
    margin-left: 84%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.email-section span {
    transform: rotate(90deg);
    color: var(--text-color);
    font-size: 25px;
    word-spacing: 1rem;
    font-family: 'Shadows Into Light', cursive;
}

.email-section span:hover{
    color: #fff;
}

/* social media section */
.media-icons{
    position: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.media-icons i {
    font-size: 25px;
    margin-bottom: 25px;
    border: 2px dashed var(--text-color);
    padding: 10px;
}

.media-icons i:hover {
    padding: 10px;
    border: 2px dashed #fff;
}

/* Media Qurries section */

/* Navbar */
@media(max-width: 800px){
    .Nav-bar .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--bg-color);
        transition: top 1s ease;
        display: none;
    }
    .Nav-bar .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    .Nav-bar .openMenu {
        display: block;
    }
    .Nav-bar .mainMenu li a:hover {
        background: none;
        color: #fff;
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
    
}

@media (max-width: 768px){
    
    /* email sections */
    .email-section{
        display: none;
    }
    .media-icons{
        display: none;
    }
    .main-sections{
        width: 100%;
        margin-left: -17%;
        background-color: blue;
    }
}







